
  <div class=" w-full  md:w-full mt-24 md:m h-full md:rounded-b-2xl   relative transition-all  text-white px-4">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let movie of movies | async">
        <ng-template class="slide" carouselSlide>
          <div class="flex mx-auto w-full  gap-6 overflow-hidden ">
            <div
              class="flex justify-end bg-black md:h-[450px] lg:h-[550px]  h-[250px] w-full  overflow-hidden relative ">
              <div class="relative ">
                <img src="{{base_img}}original/{{movie.backdrop_path}}" [alt]="movie.backdrop_path"
                  class=" aspect-video h-full ">
                <div
                  class="absolute  bg-gradient-to-r from-black via-transparent to-transparent top-0 aspect-video h-full ">
                </div>
              </div>
              <div
                class="w-72 md:w-[330px] mt-32 md:mt-0 lg:w-[660px] h-max  flex-col md:gap-2 lg:gap-4 z-40 p-4 md:p-8 lg:p-12 absolute m-10 -ml-4 left-0 flex justify-center items-center ">
                <div class="gap-1 md:gap-4 flex flex-col h-fit">
                  <p
                    class=" text-xl md:text-4xl lg:text-5xl font-extrabold font-sans first-letter:text-red-600 text-white ">
                    {{movie.name|titlecase}}{{movie.title|titlecase}}</p>
                  <!-- <div class="flex items-center justify-start gap-2">
                    <div class="h-6 md-h-8 aspect-[4/2.5]">
                    </div>
                    <p class=" text-text-color mt-2 text-xs md:text-sm lg:text-lg">: {{movie.vote_average | currency:''}}</p>

                  </div> -->
                  <p class="hidden md:block text-xl text-white">{{movie.overview}}</p>
                  <div class="flex gap-2 md:flex md:gap-4">
                    <button mat-raised-button class="text-white  bg-yellow-400 px-2 md:px-6 py-1 md:py-3 w-fit rounded-md hover:outline outline-offset-2 outline-2 outline-red-600 transition-all">IMBD</button>
                    <button mat-raised-button class="text-white bg-red-600 px-2 md:px-6 py-1 md:py-3 w-fit rounded-md hover:outline outline-offset-2 outline-2 outline-red-600 transition-all">Watch now</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

